API/bin/
API/obj/
API/Uploads/

Application/bin/
Application/obj/

Infrastructure/bin/
Infrastructure/obj/

Domain/bin/
Domain/obj/

Persistence/bin/
Persistence/obj/
Persistence/Migrations/
.vscode/
.idea/
